/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0

&lt {
    quick-tap-ms = <200>;
};

/ {
    chosen {
        zmk,matrix_transform = &five_column_transform;
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
    };

    combos {
        compatible = "zmk,combos";

        Hyper {
            bindings = <&kp LS(LA(LC(LGUI)))>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
  &trans  &kp G  &kp P           &kp M      &trans    &trans  &kp B  &kp U  &kp LA(BSPC)  &kp BSPC
  &kp D   &kp S  &kp T           &kp R      &kp L     &kp H   &kp N  &kp E  &kp A         &kp I
  &kp C   &kp V  &kp K           &kp W      &trans    &trans  &kp F  &kp J  &kp X         &kp Y
                 &sk LEFT_SHIFT  &kp SPACE  &trans    &trans  &kp O  &sl 1
            >;
        };

        Symbols {
            bindings = <
  &trans             &kp AT_SIGN  &kp MINUS             &kp LBKT               &trans           &kp TILDE  &kp LESS_THAN  &kp GREATER_THAN  &kp FSLH  &kp ASTERISK
  &kp DOUBLE_QUOTES  &kp SQT      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND    &kp GRAVE  &kp DOT        &kp COLON         &kp SEMI  &trans
  &kp PERCENT        &kp EQUAL    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE         &kp PLUS   &kp QUESTION   &kp EXCLAMATION   &kp BSLH  &kp CARET
                                  &kp UNDERSCORE        &kp SPACE              &trans           &trans     &trans         &trans
            >;
        };

        sticky_mods {
            bindings = <
  &trans  &trans     &trans        &trans        &trans    &trans  &trans        &trans        &trans     &trans
  &trans  &sk LCTRL  &sk LEFT_ALT  &sk LEFT_GUI  &trans    &trans  &sk LEFT_GUI  &sk LEFT_ALT  &sk LCTRL  &trans
  &trans  &trans     &trans        &trans        &trans    &trans  &trans        &trans        &trans     &trans
                     &trans        &trans        &trans    &trans  &trans        &trans
            >;
        };
    };
};
